.home-content h1 {
  font-weight: 800;
  color: #93b3fd;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.home-content h3 {
  color: #482468;
  margin-bottom: 1rem;
  font-weight: 400;
}

.home-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(197, 214, 255, 0.9);
  margin: 0 auto 2rem;
  max-width: 320px;  
}