.home-content h1 {
  font-weight: 800;
  color: #93b3fd;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.home-content h3 {
  color: #482468;
  margin-bottom: 1rem;
  font-weight: 400;
}

.home-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(197, 214, 255, 0.9);
  margin: 0 auto 2rem;
  max-width: 320px;  
}

/* Very simple dark theme overrides */
body.dark {
  --ion-background-color: #020b1f;
  --ion-background-color-rgb: 11, 17, 32;

  --ion-text-color: #f9fafb;
  --ion-text-color-rgb: 249, 250, 251;

  --ion-color-primary: #4f46e5;
  --ion-color-primary-rgb: 79, 70, 229;

  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;

  --ion-color-medium: #9ca3af;
  --ion-color-light: #1f2933;
}