.content-background {
  --background: linear-gradient(135deg, #8fbbfd, #333fac);
  color: rgb(255, 255, 255);
  padding-top: 0;
}
 
.welcome-content {
  background: rgb(255, 255, 255);
  box-shadow: none;
  max-width: 340px;
  margin: 0px auto;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  color: #546a9e;
}

.welcome-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  color: #546a9e;
}

ion-toolbar.custom-header {
  --background: #ffffff;
  font-weight: bold;
}

 
/* ? Janinan css:stä */
ion-header, ion-toolbar {
    --background-color: white;
    --border-width: 0;
    --box-shadow: none;
}
 
/* ? Janinan css:stä*/
ion-toolbar {
  --align-items: center;
}
 
ion-title {
  font-weight: 800;
  color: #93b3fd;
  font-size: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
 
ion-buttons ion-icon {
    color: #93b3fd;
    font-size: 1.5rem;
}
 
ion-toolbar ion-button {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

.inspiration-card {
  border-radius: 8px;
  background: linear-gradient(135deg, #fcfcfd, #b1c5fc);
  padding: 10px;
  height: 160px;
  display: flex;
  margin: 10px;
  margin-bottom: -60px;
  flex-direction: column;
  justify-content: space-between;
}

.badge {
  background-color: rgba(0,0,0,0.1);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75em;
  align-self: flex-start;
  margin-bottom: 5px;
}
 
.insp-quote {
  color: #546a9e;
  font-size: 0.75em;
  text-align: center;
  font-style: italic;
  margin: 0;
  padding: 0 5px;
}
 
.insp-footer {
  color: #546a9e;
  font-size: 0.75em;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 5px;
  margin-top: 5px;
}

.calendar-container {
  background: white;
  border-radius: 12px;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  color: #546a9e;
}

ion-datetime {
  margin: 0 auto;
  background: white;
}

.section-title {
  margin: 20px;
}

.custom-input-container {
  background: white;
  border-radius: 8px;
  margin: 10px;
  border: 1px solid #d1d1d1;
}

.custom-input {
  --padding-start: 10px;
}

.btn-round {
    color: #546a9e;
    margin: 10px;
}

.btn-round2 {
    color: black;
    margin: 10px;
}

.task-list {
  background: transparent;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

.task-item {
  --background: transparent;
  --padding-start: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.task-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: #546a9e;
}

.task-due {
  font-size: 0.85em;
  color: #546a9e;
  text-align: right;
}

ion-checkbox {
  --size: 24px;
  --border-radius: 50%;
  margin-right: 15px;
  --checkmark-color: #ffffff;
   --checkbox-background: #fdfdfd;
  --border-color: #d0e7fd;
}

.small-text {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: #546a9e;
}

.quote-card {
  display: flex;
  background: transparent;
  margin-bottom: 10px;
  align-items: flex-start;
}

.quote-image-placeholder {
  width: 80px;
  height: 80px;
  background-color: #dce6f2; /* Harmahtava laatikko */
  border-radius: 4px;
  flex-shrink: 0;
  margin-right: 15px;
  margin-left: 15px;
}

.quote-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.quote-text {
  font-weight: bold;
  font-size: 0.75em;
  margin-bottom: 4px;
}

.quote-subtext {
  font-size: 0.75em;
  color: #555;
  margin-bottom: 8px;
}

.quote-author {
  display: flex;
  align-items: center;
  font-size: 0.75em;
  color: #333;
}

.author-dot {
  width: 16px;
  height: 16px;
  background-color: #d1dbe8;
  border-radius: 50%;
  margin-right: 8px;
}

.completed-list {
  border-top: 1px solid #d1dbe8;
  margin-left: 10px;
  margin-right: 10px;
}

.completed-item {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #d1dbe8;
}

.check-icon {
  font-size: 32px;
  margin-right: 15px;
  color: #007bff;
  background: white;
  border-radius: 50%;
}

.task-text {
  font-weight: bold;
  font-size: 1em;
}

.task-subtext {
  font-size: 0.85em;
  color: #ffffff;
}

ion-tab-bar {
  --background: #ffffff;
  border-top: 1px solid #eaebed;
  padding-bottom: 5px;
}
