.welcome-container {
  --background: linear-gradient(135deg, #8fbbfd, #333fac);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

.welcome-content {
  max-width: 340px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}

ion-toolbar.custom-header {
  --background: #ffffff;
  font-weight: bold;
}

.welcome-content h1 {
  font-weight: 800;
  color: #93b3fd;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.welcome-content h3 {
  color: #482468;
  margin-bottom: 1rem;
  font-weight: 400;
}

.welcome-content p {
  font-size: 0.75rem;
  line-height: 1.6;
  color: #546a9e;
  margin: 0 auto 2rem;
  max-width: 320px;  
}

.start-button {
  --background: linear-gradient(135deg, #d0d6fa, #4e5bcc);
  --color: #10132e;
  --border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  text-transform: none;
  transition: all 0.3s ease;
  width: 180px;
  margin: 0 auto;
}

.start-button:hover {
  --background:linear-gradient(135deg, #5e6ce6, #482468);
  --color: #fcfcfd;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(85, 99, 222, 0.4);
}
